<div class="layui-header">
  <div class="layui-logo layui-hide-xs layui-bg-black">{{logTest}}</div>
  <!-- 头部区域（可配合layui 已有的水平导航） -->
  <ul class="layui-nav layui-layout-left">
    <!-- 移动端显示 -->
    <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
      <i class="layui-icon layui-icon-spread-left"></i>
    </li>

    <li class="layui-nav-item layui-hide-xs"><a href="/addArticle">添加文章分类</a></li>
    <li class="layui-nav-item layui-hide-xs"><a href="/addSystem">添加配置参数</a></li>
    <li class="layui-nav-item layui-hide-xs"><a href="">nav 3</a></li>
    <li class="layui-nav-item">
      <a href="javascript:;">nav groups</a>
      <dl class="layui-nav-child">
        <dd><a href="">menu 11</a></dd>
        <dd><a href="">menu 22</a></dd>
        <dd><a href="">menu 33</a></dd>
      </dl>
    </li>
  </ul>
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item layui-hide layui-show-md-inline-block">
      <a href="javascript:;">
        <img src="https://img2.baidu.com/it/u=1012304310,3936720750&fm=26&fmt=auto&gp=0.jpg" class="layui-nav-img">
        <span id="userN">勤登陆</span>
      </a>
      <dl class="layui-nav-child">
        <dd id="editBtn"><a href="javascript:;">个人信息</a></dd>
        <dd id="editPassword"><a href="/editPasswordView"  >修改密码</a></dd>
        <dd onclick="outLog" id="outlog"><a href="javascript:;">退出</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
      <a href="javascript:;">
        <i class="layui-icon layui-icon-more-vertical"></i>
      </a>
    </li>
  </ul>
</div>

<div class="" id="editUser" style="display: none; padding-left: 20px;">
  <form class="layui-form" action="" id="userText" lay-filter="layui-form2">
    <h1>个人信息</h1>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">名字</label>
        <div class="layui-input-inline">
          <input id="opp" type="tel" name="_name" lay-verify="title" autocomplete="off" class="layui-input">
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">性别</label>
      <div class="layui-input-block">
        <input type="radio" name="_sex" value="1" title="男" checked="">
        <input type="radio" name="_sex" value="0" title="女">
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">头像</label>
      <div class="layui-input-block">
        <span> 仅支持 png,jpg,gif,小于2mb</span>
        <button type="button" class="layui-btn" onclick="endFile()">上传新的头像</button>
        <input type="file" name="harderImg" lay-verify="harderImg" autocomplete="off" style="display: none;"
          onchange="fileChange(this,'#userImg',()=>{
            console.log(this);
          })">

      </div>
      <img class="layui-upload-img" id="userImg"
        style="width: 150px;  height: 150px;  border-radius: 50%; margin-left: 100px;">
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">签名</label>
      <div class="layui-input-block">
        <textarea placeholder="请输入内容" class="layui-textarea" name="_content" lay-verify="_content"></textarea>
      </div>

    </div>


    <button type="button" class="layui-btn" onclick="eaitUserTextr()" style="margin-left: 100px;">确定修改</button>
  </form>
</div>
<script src="/static/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/js-cookie/3.0.1/js.cookie.js"></script>
<script>
  // 图片赋值 onchange
  let newPic;
  function fileChange(thia, ele,fn) {
    // 拿到文件描述
    let upFile = thia.files[0];
    // console.log(upFile);
    // 文件处理
    let fileReder = new FileReader();
    // 读取文件
    fileReder.readAsDataURL(upFile);

    fileReder.onload = function (e) {
      // 转化为base64格式
      let imgba64 = e.target.result;
      // console.log(imgba64);
      $(ele).attr('src', imgba64);
      // console.log(upFile.name);
      _newPic = `${upFile.name}`
      // console.log(_newPic, 'pic');
      fn.call()
    }


  }

  // newPic += 
  let logText = localStorage.getItem('logTete')

  if (!logText) {
    localStorage.setItem('logTete', '本作博客后台管理')
  }


  let user = JSON.parse(Cookies.get('userInfo'));
  user = user;

  console.log(user, 'info');
  // 配置 名字
  $('#userN').text(user.name)
  // 配置 图片
  $('.layui-nav-img').attr('src', user.pic)
  document.getElementById('outlog').onclick = function () {
    // 1-发送请求
    $.get('/outLog');
    // 将对应的 本地存储 置为 空
    location.href = '/login'

  }

  // 提交 按钮 事件
  function eaitUserTextr() {
    // 提交 后 获得 表单中的 值
    let formData = new FormData($('#userText')[0]);
    formData.append('avatar', user.avatar)

    // 如果没传图片 则 图片 为原图
    if (newPic) {
      newPic  = `/static/harder/${newPic}`

    } else {
      newPic = user.pic
    }
    formData.append('newPic', newPic);
    formData.append('pic', user.pic);
    
    console.log(formData.get('_sex'), 'sex');
    $.ajax({
      type: "post",
      url: "/eaitUserText",
      processData: false, //  jquery不需要处理数据
      contentType: false, // 不要设置编码

      data: formData,
    }).then(res => {
      console.log(res);
      location.href = '/'
    })

  }

  // 唤醒 文件 上传
  function endFile() {
    $('input[name=harderImg]').click()
  }

  // 图片赋值 onchange
  // fileChange(thia) 
  $('#editBtn').click(function () {
    console.log(99);
    let thia = this;

    layer.open({
      type: 1,
      skin: 'layui-layer-rim', //加上边框
      area: ['620px', '640px'], //宽高
      shadeClose: true,
      shade: 0,
      maxmin: true,
      content: $("#editUser"),
      success() {
        // 表单 回值
        layui.use(['form'], function () {
          var form = layui.form;

          //  表单回显
          form.val('layui-form2', {
            "_name": user.name, //  
            "_content": user.intro,
            "_sex": user.sex,

          });
          $('#userImg').attr('src', user.pic)

        })
      },
      cancel: function (index, layero) {
        if (confirm('确定要关闭么')) { //只有当点击confirm框的确定时，该层才会关闭
          $('#editUser').css('display', 'none')
          layer.close(index)
        }
        return false;
      }
    });
  })
</script>